# Recognize Structured Query Language
*.sql linguist-detectable=true
*.sql linguist-language=SQL

# Recognize JSON files
*.json linguist-detectable=true
*.json linguist-language=JSON

# Recognize RTF files (Rich Text Format)
*.rtf linguist-detectable=true
*.rtf linguist-language=Rich Text Format

# Recognize XML files
*.xml linguist-detectable=true
*.xml linguist-language=XML

# Recognize CSV files
*.csv linguist-detectable=true
*.csv linguist-language=CSV
